body {
    background: white;
    margin: 0;
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #222;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
    width: 120px;
    height: 70px;
}

nav {
    align-content: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

nav a {
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #abcb5e;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #abcb5e;
    position: absolute;
    top: 40px;
    width: 0;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}