* {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
}

a.no-colour {
    color: black;
    text-decoration: underline;
}

.content-box {
    margin: 30px;
}

.text-with-image {
    display: inline-block;
    width: 50%;
    height: 50%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

header {
    height: 100px;
    background: #262626;
    width: 100%;
    z-index: 10;
    position: fixed;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.logo {
    width: 20%;
    float: left;
    line-height: 100px;
}
.logo a {
    text-decoration: none;
    font-size: 30px;
    font-style: italic;
    font-family: Ubuntu;
    color: #abcb5e;
    letter-spacing: 5px;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

img.front-page {
    width: 50%;
    height: 25%;
}

nav {
    float: right;
    line-height: 100px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 10px;
    padding-bottom: 20px;
    position: relative;
}

nav a {
    text-decoration: none;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    margin: 0 10px;
    color: #fff;
    text-transform: uppercase;
}

nav a:hover {
    color: #abcb5e;
}

nav a::before {
    content: '';
    display: block;
    height: 2px;
    background-color: #abcb5e;
    position: absolute;
    top: 60px;
    width: 0;
    transition: all ease-in-out 250ms;
}

nav a:hover:before {
    width: 100%;
}

.banner-area {
    width: 100%;
    height: 500px;
    position: fixed;
    background-image: url(https://cdn2.vox-cdn.com/thumbor/McrTCjMDDexvtFzdQCb2pwpWpgI=/0x1080/volume-assets.voxmedia.com/production/751c38d94e8ae658eacde498637400fc/FoodWaste1-noLogo.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.banner-area h2 {
    padding-top: 8%;
    font-size: 60px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: white;
    text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            2px 2px 0 #000;
}
.content-area {
    width: 100%;
    top: 450px;
    position: absolute;
    background: white;
}
.content-area h2 {
    font-family: sans-serif;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
}
.content-area p {
    padding: 2% 0;
    font-family: sans-serif;
    line-height: 30px;
}

.footer{
    width: 100%;
    height: 300px;
    background: #222;
}

.footer-content {
    padding-bottom: 50px;
    padding-left: 70px;
    float: left;
    color: white
}
