<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: header(~{::title})">
    <title>Red maden</title>
</head>
<body>
<div class="box-area">
    <header>
        <div class="wrapper">
            <div th:replace="fragments :: logo"></div>

            <div th:replace="fragments :: navbar"></div>
        </div>
    </header>
</div>

<div class="banner-area">
    <h2>Velkommen til Red Maden<br>Vi Hjælper dig med at reducerer madspild</h2>
</div>
<div class="content-area">
    <div class="wrapper">
        <h2>Forside</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, esse est iste magni reprehenderit saepe
            sint! Assumenda consectetur fugit sit tempore. Architecto blanditiis deleniti, est fuga iusto perspiciatis
            suscipit voluptatibus! Ad alias assumenda autem deleniti esse est excepturi hic itaque, magnam magni nam
            officia provident quae recusandae reiciendis rem sed. Adipisci animi aut autem deserunt dolore, ea eius
            error ex facilis inventore ipsum minus modi nihil nostrum nulla, obcaecati porro reprehenderit repudiandae
            sed sint sunt tempore vero. At dolores doloribus, dolorum ea eaque hic ipsa iusto libero minus natus neque
            nisi nobis nostrum odio optio pariatur perspiciatis praesentium rerum sapiente.</p>

        <div style="padding-bottom: 50px; padding-top: 50px">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div>
                            <hr class="solid" style="border-color:#ccc">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-box">
            <div class="text-with-image text-align-left">
                <h3>Til dig som er privat person</h3>
                <p>Vi har samlet information om hvordan den almindelige dansker kan reducere deres madspild i hjemmet læs voeres 7 hurtige råd eller klik på linket for mere information</p>
                <ol>
                    <li>Planlæg mad indkøb.</li>
                    <li>Køb kun det du har brug for.</li>
                    <li>Handle aldrig på tom mave.</li>
                    <li>Udnyt rabatter og fyld fryseren.</li>
                    <li>Undgå madspild under madlavningen.</li>
                    <li>Brug dine rester.</li>
                </ol>
                <a th:href="@{Privatperson}"><button class="button-style">Læs mere her</button></a>
            </div>
            <a th:href="@{Privatperson}"><img class="float-right front-page" th:src="@{privatPerson.jpeg}" alt=""></a>
        </div>

        <div style="padding-bottom: 50px; padding-top: 50px">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div>
                            <hr class="solid" style="border-color:#ccc">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-box text-align-right">
            <a href="#"><img class="float-left" src="download.jpeg" alt=""></a>
            <div class="text-with-image">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, esse est iste magni reprehenderit
                    saepe sint! Assumenda consectetur fugit sit tempore. Architecto blanditiis deleniti, est fuga iusto
                    perspiciatis suscipit voluptatibus! Ad alias assumenda autem deleniti esse est excepturi hic itaque,
                    magnam magni nam officia provident quae recusandae reiciendis rem sed. Adipisci animi aut autem
                    deserunt dolore, ea eius error ex facilis inventore ipsum minus modi nihil nostrum nulla, obcaecati
                    porro reprehenderit repudiandae sed sint sunt tempore vero. At dolores doloribus, dolorum ea eaque
                    hic ipsa iusto libero minus natus neque nisi nobis nostrum odio optio pariatur perspiciatis
                    praesentium rerum sapiente.</p>
            </div>
            <a th:href="@{Virksomhed}"><button class="button-style">Læs mere her</button></a>
        </div>

        <div style="padding-bottom: 50px; padding-top: 50px">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div>
                            <hr class="solid" style="border-color:#ccc">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-box text-align-left">
            <div class="text-with-image">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, esse est iste magni reprehenderit
                    saepe sint! Assumenda consectetur fugit sit tempore. Architecto blanditiis deleniti, est fuga iusto
                    perspiciatis suscipit voluptatibus! Ad alias assumenda autem deleniti esse est excepturi hic itaque,
                    magnam magni nam officia provident quae recusandae reiciendis rem sed. Adipisci animi aut autem
                    deserunt dolore, ea eius error ex facilis inventore ipsum minus modi nihil nostrum nulla, obcaecati
                    porro reprehenderit repudiandae sed sint sunt tempore vero. At dolores doloribus, dolorum ea eaque
                    hic ipsa iusto libero minus natus neque nisi nobis nostrum odio optio pariatur perspiciatis
                    praesentium rerum sapiente.</p>
            </div>
            <a href="#"><img class="float-right" src="download.jpeg" alt=""></a>
            <a th:href="@{Organisation}"><button class="button-style">Læs mere her</button></a>
        </div>

    </div>

    <footer th:replace="fragments :: footer"> </footer>
</div>

</body>
</html>
