<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link th:href="@{/styling.css}" rel="stylesheet"/>
    <link href="../static/styling.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Red Maden</title>
</head>
<body>

<header>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/">Forside</a></li>
                <li><a href="#">Privat Person</a></li>
                <li><a href="#">Virksomhed</a></li>
                <li><a href="#">Organisation</a></li>
                <li><a href="#">Om Os</a></li>
                <li><a href="#">Hjælp</a></li>
            </ul>
        </nav>
    </div>
</header>

</body>
</html>