<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: header(title='Privat person')"></head>
<body>
<div class="box-area">
    <header>
        <div class="wrapper">
            <div th:replace="fragments :: logo"></div>

            <div th:replace="fragments :: navbar"></div>

        </div>
    </header>
    <div class="banner-area">
        <h2>Hvad du som <u>privat person</u> kan gøre i kampen mod madspild</h2>
    </div>
    <div class="content-area">
        <div class="wrapper">

            <div class="content-box">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda dolore, dolorem harum in iste laboriosam laudantium minus nemo nisi nobis nostrum officiis pariatur placeat quis reprehenderit unde voluptatum? Tenetur.
                </p>
            </div>

        </div>
    </div>
</div>

</body>
</html>
